iTrip/Service References/iWebServiceReferenceFlight/iWebServiceFlight.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetFlightList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="whereStr" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFlightListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFlightListResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFlightOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FLIGHT_ORDER_ID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFlightOrderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFlightOrderResult" type="tns:FLIGHT_ORDER" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="FLIGHT_ORDER">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="FLIGHT_ORDER_ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="FLIGHT_ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="USER_NAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CONFIRM_FLAG" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="FARE" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="PERSON_COUNT" nillable="true" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddFlightOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Entity" type="tns:FLIGHT_ORDER" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddFlightOrderResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateFlightOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Entity" type="tns:FLIGHT_ORDER" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateFlightOrderResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteFlightOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FLIGHT_ORDER_ID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteFlightOrderResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetOrderFlightList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOrderFlightListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetOrderFlightListResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFlightCorporationList">
        <s:complexType />
      </s:element>
      <s:element name="GetFlightCorporationListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFlightCorporationListResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFlightFromList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="fromOrTo" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFlightFromListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFlightFromListResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAirPortList">
        <s:complexType />
      </s:element>
      <s:element name="GetAirPortListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAirPortListResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetFlightListSoapIn">
    <wsdl:part name="parameters" element="tns:GetFlightList" />
  </wsdl:message>
  <wsdl:message name="GetFlightListSoapOut">
    <wsdl:part name="parameters" element="tns:GetFlightListResponse" />
  </wsdl:message>
  <wsdl:message name="GetFlightOrderSoapIn">
    <wsdl:part name="parameters" element="tns:GetFlightOrder" />
  </wsdl:message>
  <wsdl:message name="GetFlightOrderSoapOut">
    <wsdl:part name="parameters" element="tns:GetFlightOrderResponse" />
  </wsdl:message>
  <wsdl:message name="AddFlightOrderSoapIn">
    <wsdl:part name="parameters" element="tns:AddFlightOrder" />
  </wsdl:message>
  <wsdl:message name="AddFlightOrderSoapOut">
    <wsdl:part name="parameters" element="tns:AddFlightOrderResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateFlightOrderSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateFlightOrder" />
  </wsdl:message>
  <wsdl:message name="UpdateFlightOrderSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateFlightOrderResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteFlightOrderSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteFlightOrder" />
  </wsdl:message>
  <wsdl:message name="DeleteFlightOrderSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteFlightOrderResponse" />
  </wsdl:message>
  <wsdl:message name="GetOrderFlightListSoapIn">
    <wsdl:part name="parameters" element="tns:GetOrderFlightList" />
  </wsdl:message>
  <wsdl:message name="GetOrderFlightListSoapOut">
    <wsdl:part name="parameters" element="tns:GetOrderFlightListResponse" />
  </wsdl:message>
  <wsdl:message name="GetFlightCorporationListSoapIn">
    <wsdl:part name="parameters" element="tns:GetFlightCorporationList" />
  </wsdl:message>
  <wsdl:message name="GetFlightCorporationListSoapOut">
    <wsdl:part name="parameters" element="tns:GetFlightCorporationListResponse" />
  </wsdl:message>
  <wsdl:message name="GetFlightFromListSoapIn">
    <wsdl:part name="parameters" element="tns:GetFlightFromList" />
  </wsdl:message>
  <wsdl:message name="GetFlightFromListSoapOut">
    <wsdl:part name="parameters" element="tns:GetFlightFromListResponse" />
  </wsdl:message>
  <wsdl:message name="GetAirPortListSoapIn">
    <wsdl:part name="parameters" element="tns:GetAirPortList" />
  </wsdl:message>
  <wsdl:message name="GetAirPortListSoapOut">
    <wsdl:part name="parameters" element="tns:GetAirPortListResponse" />
  </wsdl:message>
  <wsdl:portType name="iWebServiceFlightSoap">
    <wsdl:operation name="GetFlightList">
      <wsdl:input message="tns:GetFlightListSoapIn" />
      <wsdl:output message="tns:GetFlightListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFlightOrder">
      <wsdl:input message="tns:GetFlightOrderSoapIn" />
      <wsdl:output message="tns:GetFlightOrderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddFlightOrder">
      <wsdl:input message="tns:AddFlightOrderSoapIn" />
      <wsdl:output message="tns:AddFlightOrderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateFlightOrder">
      <wsdl:input message="tns:UpdateFlightOrderSoapIn" />
      <wsdl:output message="tns:UpdateFlightOrderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteFlightOrder">
      <wsdl:input message="tns:DeleteFlightOrderSoapIn" />
      <wsdl:output message="tns:DeleteFlightOrderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetOrderFlightList">
      <wsdl:input message="tns:GetOrderFlightListSoapIn" />
      <wsdl:output message="tns:GetOrderFlightListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFlightCorporationList">
      <wsdl:input message="tns:GetFlightCorporationListSoapIn" />
      <wsdl:output message="tns:GetFlightCorporationListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFlightFromList">
      <wsdl:input message="tns:GetFlightFromListSoapIn" />
      <wsdl:output message="tns:GetFlightFromListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAirPortList">
      <wsdl:input message="tns:GetAirPortListSoapIn" />
      <wsdl:output message="tns:GetAirPortListSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="iWebServiceFlightSoap" type="tns:iWebServiceFlightSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFlightList">
      <soap:operation soapAction="http://tempuri.org/GetFlightList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFlightOrder">
      <soap:operation soapAction="http://tempuri.org/GetFlightOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddFlightOrder">
      <soap:operation soapAction="http://tempuri.org/AddFlightOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFlightOrder">
      <soap:operation soapAction="http://tempuri.org/UpdateFlightOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFlightOrder">
      <soap:operation soapAction="http://tempuri.org/DeleteFlightOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderFlightList">
      <soap:operation soapAction="http://tempuri.org/GetOrderFlightList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFlightCorporationList">
      <soap:operation soapAction="http://tempuri.org/GetFlightCorporationList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFlightFromList">
      <soap:operation soapAction="http://tempuri.org/GetFlightFromList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAirPortList">
      <soap:operation soapAction="http://tempuri.org/GetAirPortList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="iWebServiceFlightSoap12" type="tns:iWebServiceFlightSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFlightList">
      <soap12:operation soapAction="http://tempuri.org/GetFlightList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFlightOrder">
      <soap12:operation soapAction="http://tempuri.org/GetFlightOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddFlightOrder">
      <soap12:operation soapAction="http://tempuri.org/AddFlightOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFlightOrder">
      <soap12:operation soapAction="http://tempuri.org/UpdateFlightOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFlightOrder">
      <soap12:operation soapAction="http://tempuri.org/DeleteFlightOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderFlightList">
      <soap12:operation soapAction="http://tempuri.org/GetOrderFlightList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFlightCorporationList">
      <soap12:operation soapAction="http://tempuri.org/GetFlightCorporationList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFlightFromList">
      <soap12:operation soapAction="http://tempuri.org/GetFlightFromList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAirPortList">
      <soap12:operation soapAction="http://tempuri.org/GetAirPortList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="iWebServiceFlight">
    <wsdl:port name="iWebServiceFlightSoap" binding="tns:iWebServiceFlightSoap">
      <soap:address location="http://localhost/iTrip.WebService/iWebServiceFlight.asmx" />
    </wsdl:port>
    <wsdl:port name="iWebServiceFlightSoap12" binding="tns:iWebServiceFlightSoap12">
      <soap12:address location="http://localhost/iTrip.WebService/iWebServiceFlight.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>